<%= form_for(:search, class: 'form-inline', url: shifts_path, method: :get, remote: true) do |form| %>
  <div class="form-group">
    <%= form.label :date %>
    <%= form.text_field :date, class: 'form-control', data: { behavior: 'daterangepicker' }, value: date_from_parameters %>
  </div>
  <%= form.submit "Search", class: 'btn btn-success' %>
<% end %>