<div id="<%= dom_id shift %>">
  <p>
    <strong>Date:</strong>
    <%= shift.date %>
  </p>

  <p>
    <strong>Time in:</strong>
    <%= shift.time_in %>
  </p>

  <p>
    <strong>Time out:</strong>
    <%= shift.time_out %>
  </p>

</div>
